* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.widescreen {
  background-color: blue;
}

@media screen and (max-width: 1200px) {
  .widescreen {
    background-color: coral;
  }
}

@media (max-width: 992px) {
  .normal {
    background-color: bisque;
  }
}

@media (max-width: 768px) {
  .tablet {
    background-color: burlywood;
  }
}

@media (max-width: 576px) {
  .smartphone {
    background-color: chartreuse;
  }
}

@media (orientation: landscape) {
  .landscape {
    background-color: blueviolet;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  body {
    background-color: grey;
  }
}
