.box {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.box-1 {
  position: static;
  left: 10px;
}

.box-2 {
  position: relative;
  left: 30px;
  top: 20px;
}

.box-3 {
  position: fixed;
  top: 20px;
  right: 30px;
}

.box-4 {
  position: sticky;
  top: 100px;
}

.box-5 {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: red;
}

.box-6 {
  position: absolute;
  bottom: 0;
  left: 0;
}
