body {
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
}

.box {
  width: 100px;
  height: 100px;
  background: coral;
  animation: animate1 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
  animation-timing-function: linear;
}

@keyframes animate1 {
  from {
    width: 100px;
    background-color: coral;
    top: 0;
  }

  to {
    width: 300px;
    background-color: lightblue;
    top: 100vh;
  }
}
