body {
  font-family: "Poppins";
  margin: 0;
}

.container {
  display: flex;
}

.flex-item {
  width: 200px;
  height: 200px;
  background-color: bisque;
  border: 1px solid black;
}

/* flex-shrink decides how much a element will shrink relative to others. default is 1 */
.item-1 {
  flex-shrink: 0;
  order: 3;
}

/* flex-grow decides how much a element will grow. default is 0 */
.item-2 {
  flex-grow: 1;
  order: 4;
}
