*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.hero {
  height: 100%;
  background: url("./overlay.jpg") no-repeat center/cover;
  color: white;
  position: relative;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  padding: 1rem;
}

.hero p {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.hero .btn {
  text-decoration: none;
  color: white;
  padding: 1rem;
  background: #333;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.9;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero .btn:hover {
  opacity: 1;
}
