body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  background-color: #00fbff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  width: 150px;
  /* transition: background-color 1s ease-in; */
  transition: all 0.7s ease-in;
}

.btn:hover {
  background-color: #0056b3;
  color: yellow;
  width: 200px;
}
