html {
  /* this is root font size. the default value is alwasy 16px */
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid black;
}

p {
  /* rem is a relative unit. multiplier of root size. here 10 * 2  */
  font-size: 2rem;
}
