body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.header {
  background-color: #5e175b;
  color: white;
}

.header h1 {
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  color: rebeccapurple;
}

nav ul.main-menu {
  list-style-type: none;
  padding: 0;
}

p.lead {
  font-size: 20px;
  font-weight: bold;
}
