* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom property inside root */
:root {
  --primary-color: lightblue;
  --secondary-color: lightcoral;
  --optional-color: lightgreen;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--primary-color);
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

/* custom properties inside a scope */
/* .container {
  --primary-color: lightblue;
} */

.container {
  display: flex;
  max-width: 700px;
  margin: 30px auto;
  gap: 30px;
}

.box {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
}

.box-1 {
  background: var(--primary-color);
}
.box-2 {
  background: var(--secondary-color);
}
.box-3 {
  background: var(--optional-color);
}
