.container {
  max-width: 600px;
  display: flex;
  gap: 50px;
  margin: 50px auto;
}

.box {
  border: 1px solid black;
  padding: 70px;
  border-radius: 10px;
  font-size: 30px;
}

.box-1 {
  /* box-shadow: horizon vertical blur spread color */
  box-shadow: 10px 10px 10px 2px #000;
}
