body {
  font-family: "Poppins";
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  /* column-gap: 10px; */
  /* row-gap: 10px; */
}

.flex-item {
  height: 300px;
  width: 300px;
  background-color: aquamarine;
  border: 1px solid black;
}
