* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
}

p {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 700px;
  margin: 20px auto;
}

.header {
  background: linear-gradient(45deg, #f00, #00f);
  color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.header.transparent {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.8),
    rgba(0, 0, 255, 0.8)
  );
}

.header .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.section {
  margin: 30px 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #f00, #00f);
  color: white;
  font-size: 2rem;
}

.section#home {
  margin-bottom: 100px;
}
