* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
  line-height: 1.6;
}

.wrapper {
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 64, 50, 0.8),
      rgba(71, 17, 116, 0.9)
    ),
    url("../images/background.jpg") no-repeat center/cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header .logo {
  width: 100px;
}

.header .header-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main-content {
  display: flex;
  max-width: 800px;
  margin: 200px auto;
  gap: 50px;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.main-content form {
  flex: 1;
}

.main-content .text-container {
  flex: 1;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

.btn {
  display: block;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
}
.btn:hover {
  background-color: black;
  color: white;
}

.text-container h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .header,
  .header .header-right {
    flex-direction: column;
    gap: 5px;
  }

  .main-content {
    flex-direction: column-reverse;
    justify-content: start;
    margin: auto;
  }
  .main-content form,
  .main-content .text-container {
    width: 100%;
  }

  .main-content .text-container p {
    display: none;
  }
}

@media (max-height: 500px) {
  .main-content {
    margin: auto;
  }
}
