* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* it's necessary to set image width so that it fits in the container properly. otherwise it may go outside the container */
img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}
